/*COLOR VARIABLES*/
/*MODULARSCALE VARIABLE*/
/*FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  /*titleE*/
  font-family: sunflora;
  src: url("https://www.alanalee.me/fonts/Sunflora.otf");
  font-weight: bold;
}
@font-face {
  /*title*/
  font-family: sf-ui;
  src: url("https://www.alanalee.me/fonts/SF-UI-Display-Bold.otf");
}
/*body*/
/*GENERAL DOCWEB STYLES*/
html, body {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 140%;
  color: #323232;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3.157em;
}

h2 {
  font-size: 1.777em;
}

a {
  text-decoration: none;
  color: #00000099;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
}

i {
  width: 24px;
  color: #6C4CB3;
}

main {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 5rem;
}
@media only screen and (min-width: 760px) {
  main {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media only screen and (min-width: 1280px) {
  main {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

/*class-based styling*/
.sunflora {
  font-family: sunflora;
  line-height: 105%;
}

.sfui {
  font-family: sf-ui;
}

.purple {
  color: #6C4CB3;
}

.brightyellow {
  color: #f7c92a;
}

.sub-headline {
  margin-top: 1em;
  font-size: 14pt;
}

.flex-display-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.outline {
  border: 2px solid blue;
}

.mockup {
  background-color: #f8f8f8;
}
@media only screen and (min-width: 820px) {
  .mockup {
    background-color: transparent;
  }
}

.underline {
  text-decoration: underline;
}

@media only screen and (min-width: 760px) {
  .desktopHide {
    display: none;
  }
}

span.bold {
  font-weight: 600;
}

/*coming soon page*/
#coming-soon-text {
  margin: auto;
  margin-top: 25vh;
  width: fit-content;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 4em;
  padding-right: 4em;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  line-height: 0.1em;
}

/*id-based styling*/
#see-you-text {
  margin-top: 2em;
  font-weight: 400;
}

#coming-soon-heading {
  margin-left: 1.5em;
  font-weight: bold;
}

#coming-soon-img {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
  width: 500px;
  z-index: -1;
  transform: rotate(-3deg);
}

#sns-icons {
  margin-top: 1rem;
  color: #6C4CB3;
  width: 50px;
}

/*BORDERFRAME CSS*/
.borderFrame {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  margin-top: 0px !important;
  width: calc(100% - 28px);
  height: calc(100% - 28px);
  pointer-events: none;
  z-index: 9;
  background-color: transparent;
  border-width: 14px;
  border-style: solid;
  border-color: #fbf2d4;
  border-image-slice: 1;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-repeat: stretch;
  z-index: 200;
}
@media screen and (min-width: 760px) {
  .borderFrame {
    display: block;
  }
}

/*NAVBAR MOBILE-FIRST*/
nav.navbar {
  position: fixed;
  width: 100%;
  padding-top: 0;
  top: 0;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  z-index: 1;
}
nav.navbar .navCheckbox {
  display: none;
}
nav.navbar .navToggle {
  position: absolute;
  cursor: pointer;
  padding-top: 1rem;
  margin: 0 1rem;
  right: 0;
  height: 100%;
}
nav.navbar .navToggle i {
  font-size: 1.5rem;
  color: #00000029;
}
nav.navbar .navToggle #close {
  display: block;
  opacity: 0;
  transition: all 350ms;
  transition-timing-function: ease-in-out;
}
nav.navbar .navToggle #close:hover {
  color: #6C4CB3;
}
nav.navbar .navToggle #menu:hover {
  color: #6C4CB3;
  transition: all 350ms;
  transition-timing-function: ease-in-out;
}
@media only screen and (min-width: 760px) {
  nav.navbar .navToggle {
    padding-right: 3rem;
  }
}
nav.navbar ul {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 10;
}
nav.navbar ul li {
  display: none;
  list-style-type: none;
  margin: 1rem;
  font-size: 16px;
  font-weight: 500;
  align-content: center;
}
nav.navbar ul li:first-child {
  margin-right: auto;
  display: block;
}
@media only screen and (min-width: 760px) {
  nav.navbar ul li:first-child {
    padding-left: 3rem;
  }
}
@media only screen and (min-width: 1280px) {
  nav.navbar ul li:first-child {
    padding-left: 6rem;
  }
}
@media only screen and (min-width: 1000px) {
  nav.navbar ul li:last-child {
    padding-right: 2rem;
  }
}
@media only screen and (min-width: 1280px) {
  nav.navbar ul li:last-child {
    padding-right: 6rem;
  }
}
nav.navbar ul a {
  color: #707070;
  transition: all 300ms;
  transition-timing-function: ease-out;
}
nav.navbar ul a:active {
  scale: 95%;
}
nav.navbar ul a img {
  height: 1.5rem;
}
nav.navbar ul .navActive, nav.navbar ul a:hover {
  color: #6C4CB3;
}
@media only screen and (min-width: 1000px) {
  nav.navbar {
    flex-direction: row;
    justify-content: space-between;
  }
  nav.navbar .navToggle {
    display: none;
  }
  nav.navbar ul {
    padding: 0;
    flex-direction: row;
  }
  nav.navbar ul li {
    display: block;
  }
}
@media only screen and (min-width: 760px) {
  nav.navbar {
    padding-top: 1rem;
  }
}

#navCheckbox:checked ~ ul.navbar-links li {
  display: block;
}

#navCheckbox:checked ~ label.navToggle #close {
  display: block;
  opacity: 100;
}

#navCheckbox:checked ~ label.navToggle #menu {
  display: none;
}

/*MAIN HEADER*/
.introduction {
  margin-top: 15rem;
  margin-bottom: 8rem;
}

/*ABOUT PAGE*/
.aboutDiv {
  display: inline-block;
  height: 100%;
  margin-bottom: 8rem;
}
.aboutDiv div {
  margin-bottom: 3rem;
}
.aboutDiv div h2 {
  font-family: sf-ui;
  font-size: 1.5rem;
  line-height: 80%;
  margin-bottom: 0;
}
.aboutDiv div p, .aboutDiv div a {
  font-size: 1rem;
}
@media only screen and (min-width: 980px) {
  .aboutDiv div p, .aboutDiv div a {
    width: 80%;
  }
}
@media only screen and (min-width: 1415px) {
  .aboutDiv {
    height: 50vh;
  }
}

/*projectthumbnail*/
.worksTitle {
  margin-bottom: 0;
}

.workContainer {
  margin-bottom: 8rem;
}
@media only screen and (min-width: 780px) {
  .workContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.projectDiv {
  position: relative;
  margin-bottom: 1rem;
}
.projectDiv img {
  z-index: -1;
  width: 100%;
  height: auto;
  transition: all 450ms;
}
.projectDiv img:hover {
  zoom: 1.1;
  filter: alpha(opacity=50);
  opacity: 0.5;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.2);
}
.projectDiv div {
  width: 100%;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  transition: all 450ms;
}
.projectDiv div h3 {
  margin: 1rem 0 0 1rem;
}
.projectDiv div p {
  font-size: 14px;
  margin: 0 0 0 1rem;
}
@media only screen and (min-width: 780px) {
  .projectDiv {
    width: 49%;
  }
}

/*CONTACT FORM*/
main.contacts {
  display: flex;
  flex-direction: column;
  margin-bottom: 8rem;
}
main.contacts .leftColumn {
  margin-top: 15rem;
}
main.contacts .leftColumn .formContainer {
  margin-top: 8rem;
}
main.contacts .leftColumn .formContainer form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main.contacts .leftColumn .formContainer form input, main.contacts .leftColumn .formContainer form textarea {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #323232;
  border: 1px solid #00000029;
  border-radius: 0;
  height: 2rem;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}
main.contacts .leftColumn .formContainer form input:focus, main.contacts .leftColumn .formContainer form textarea:focus {
  border: 1px solid #00000029;
  outline: none;
}
main.contacts .leftColumn .formContainer form #message {
  height: 5rem;
  padding-top: 0.5rem;
}
main.contacts .leftColumn .formContainer form input[name=message]::placeholder {
  position: absolute;
  top: 0.5rem;
}
main.contacts .leftColumn .formContainer form button {
  color: #fff;
  border: none;
  height: 2rem;
}
@media only screen and (min-width: 900px) {
  main.contacts .leftColumn .formContainer form button {
    width: 10%;
    margin-left: auto;
  }
}
@media only screen and (min-width: 900px) {
  main.contacts .leftColumn {
    display: flex;
    width: 50%;
    flex-direction: column;
  }
}
@media only screen and (min-width: 900px) {
  main.contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
  }
}
@media only screen and (min-width: 1415px) {
  main.contacts {
    height: 100vh;
    align-items: baseline;
  }
}

#responseDiv p#success {
  margin-top: 0;
  font-size: 14px;
  color: #6C4CB3;
}
#responseDiv p#error {
  margin-top: 0;
  font-size: 14px;
  color: #c94966;
}

/*CONTACT FORM MESAGES*/
.messagesContainer {
  margin-top: 10rem;
  margin-bottom: 5rem;
}
.messagesContainer h3 {
  margin-bottom: 2rem;
}
.messagesContainer div {
  font-size: 16px;
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: 1px solid #00000029;
}
.messagesContainer div p {
  font-weight: 600;
  margin-bottom: 0rem;
}
.messagesContainer div span {
  padding-bottom: 2rem;
}
@media only screen and (min-width: 900px) {
  .messagesContainer {
    width: 30%;
    margin-bottom: 0;
  }
}

/*FOOTER*/
footer {
  background-color: #f8f8f8;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  padding: 2rem;
  vertical-align: middle;
}
footer span {
  color: #a5add2;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13.5px;
  margin: auto;
}
footer div {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 13.5px;
  margin-bottom: 0px;
  vertical-align: center;
}
footer div a {
  position: inherit;
  display: inline-block;
  vertical-align: middle;
}
footer div a i {
  font-size: 1.3em;
}

/*PROJECT PAGES*/
.projectFull {
  padding-left: 0;
  padding-right: 0;
}
.projectFull .projectDetails {
  margin-bottom: 3rem;
}
.projectFull .projectBanner {
  position: relative;
  margin: 5rem 0 0 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projectFull .projectBanner img {
  height: 20rem;
  position: relative;
  overflow-x: hidden;
  z-index: 0;
}
.projectFull .projectBanner h1 {
  width: 100%;
  font-family: sf-ui;
  font-size: 2rem;
  position: absolute;
  margin: 0;
  text-align: center;
}
@media only screen and (min-width: 760px) {
  .projectFull {
    padding: 0 4rem;
  }
}
@media only screen and (min-width: 1280px) {
  .projectFull {
    padding: 0 7rem;
  }
}

.projectSpecs {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  font-size: 14px;
  margin-bottom: 5rem;
}
.projectSpecs ul {
  width: 100%;
}
.projectSpecs ul li {
  padding: 0.5rem 1.5rem 0.5rem 1rem;
}
@media only screen and (min-width: 820px) {
  .projectSpecs ul li {
    display: inline-block;
  }
}
.projectSpecs ul li h4 {
  margin: 0;
  padding: 0;
}
@media only screen and (min-width: 760px) {
  .projectSpecs ul li {
    padding: 0.5rem 2rem 0.5rem 3rem;
  }
}
@media only screen and (min-width: 780px) {
  .projectSpecs ul {
    width: auto;
  }
}
@media only screen and (min-width: 780px) {
  .projectSpecs {
    align-items: center;
  }
}

.projectNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8rem;
  padding: 0 1rem;
}
.projectNav a {
  display: flex;
  align-items: center;
  color: #707070;
}
.projectNav i {
  font-size: 1.5rem;
  margin: 0.5rem;
  color: #6C4CB3;
}

.projectDetails {
  padding-left: 1rem;
  padding-right: 1rem;
}
.projectDetails div {
  margin-bottom: 3rem;
}
@media only screen and (min-width: 1080px) {
  .projectDetails div div {
    display: flex;
    justify-content: space-between;
  }
}
.projectDetails div div h2 {
  font-size: 1.3rem;
  height: 100%;
}
.projectDetails div div .paragraph {
  flex-direction: column;
  align-content: space-between;
}
.projectDetails div div .paragraph p {
  font-size: 18px;
  text-align: left;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 1080px) {
  .projectDetails div div .paragraph {
    width: 65%;
  }
}
.projectDetails div img {
  width: 100%;
}
.projectDetails div h4 {
  margin: 2rem 0 5rem 0;
  font-size: 1.5rem;
  line-height: 140%;
  text-align: center;
  flex: 0 0 100%;
}
.projectDetails div p {
  font-size: 16px;
  text-align: center;
  margin-bottom: 8rem;
  width: 100%;
}

#gifContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-bottom: 1rem;
}
#gifContainer div {
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: auto;
  justify-content: end;
}
@media only screen and (min-width: 980px) {
  #gifContainer div {
    width: 50%;
  }
}
#gifContainer div img {
  width: 100%;
}
@media only screen and (min-width: 980px) {
  #gifContainer {
    flex-direction: row;
  }
}

/*# sourceMappingURL=main.css.map */
