/*COLOR VARIABLES*/
$black: #323232;
$lightyellow: #fbf2d4;
$brightyellow: #f7c92a;
$mainpurple: #6C4CB3;
$lightpurple: #a5add2;
$lightgrey: #00000029; 
$darkgrey: #707070;
$white: #fff;

/*MODULARSCALE VARIABLE*/
$ratio: 1.333em;

/*FONTS*/
@font-face { /*titleE*/
    font-family: sunflora;
    src: url("https://www.alanalee.me/fonts/Sunflora.otf");
    font-weight: bold;
  }

@font-face { /*title*/
    font-family: sf-ui;
    src: url("https://www.alanalee.me/fonts/SF-UI-Display-Bold.otf");
}

/*body*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$font-stack: 'Montserrat', sans-serif;


/*GENERAL DOCWEB STYLES*/

html, body {
    display: block;
    font-family: $font-stack;
    font-size: 18px;
    line-height: 140%;
    color:$black;
    margin: 0;
    padding:0;
    box-sizing: border-box;
  }

h1 {
    font-size: 3.157em;
}

h2 {
    font-size: 1.777em;
}

a {
    text-decoration: none;
    color: #00000099
}

ul {
    margin:0;
    padding:0;

    li {
        list-style-type: none;
    }
}


i {
    width:24px;
    color: $mainpurple;
}

main {
    padding-left: 1rem;
    padding-right:1rem;
    margin-bottom: 5rem;

    @media only screen and (min-width: 760px) {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    @media only screen and (min-width: 1280px) {
        padding-left: 8rem;
        padding-right: 8rem;
    }
}



/*class-based styling*/

.sunflora {
    font-family: sunflora;
    line-height: 105%;
}

.sfui {
    font-family: sf-ui;
}

.purple {
    color:$mainpurple;
}

.brightyellow {
    color: $brightyellow;
}

.sub-headline {
    margin-top: 1em;
    font-size: 14pt;
}

.flex-display-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.outline {
    border: 2px solid blue;
}

.mockup {
    background-color: #f8f8f8;
    @media only screen and(min-width:820px) {
        background-color: transparent;
    }
}

.underline {
    text-decoration: underline;
}

.desktopHide {
    @media only screen and(min-width:760px) {
        display:none
    }
}

span.bold {
    font-weight: 600;
}


/*coming soon page*/
#coming-soon-text {
    margin: auto;
    margin-top: 25vh;

    width: fit-content;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 4em;
    padding-right: 4em;


    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

    line-height: .1em;
}

/*id-based styling*/
#see-you-text {
    margin-top:2em;
    font-weight: 400;
}

#coming-soon-heading {
    margin-left: 1.5em;
    font-weight: bold;
}
#coming-soon-img {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
    width: 500px;
    z-index: -1;

    transform: rotate(-3deg);
}

#sns-icons {
    margin-top: 1rem;
    color: $mainpurple;
    width:50px;
}

/*BORDERFRAME CSS*/
.borderFrame {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    margin-top: 0px!important;
    width: calc(100% - 28px);
    height: calc(100% - 28px);
    pointer-events: none;
    z-index: 9;
    background-color: transparent;
    border-width: 14px;
    border-style: solid;
    border-color: $lightyellow;
    border-image-slice: 1;
    border-image-width: 1;
    border-image-outset: 0;
    border-image-repeat: stretch;
    z-index: 200;
    @media screen and(min-width:760px){
    
        display: block;
    }

}


/*NAVBAR MOBILE-FIRST*/

nav.navbar {
    position: fixed;
    width: 100%;
    padding-top: 0;
    top:0;
    background-color: $white;
    box-shadow: 0 2px 8px rgba($lightgrey, 0.05);
    z-index: 1;
    
    .navCheckbox {
        display: none;
    }
    
    .navToggle {
        position: absolute;
        cursor: pointer;
        padding-top: 1rem;
        margin: 0 1rem;
        right: 0;
        height: 100%;

        
        i {
            font-size:1.5rem;
            color:$lightgrey;
        }
        
        #close {
            display: none;
            opacity:0;
            transition: all 350ms;
            transition-timing-function: ease-in-out;

            &:hover {
                color: $mainpurple;
            }
        }

        #menu:hover{
            color: $mainpurple;
            transition: all 350ms;
            transition-timing-function: ease-in-out;
        }

        @media only screen and(min-width:760px) {
            padding-right: 3rem;
        }
    }
    
    ul {
        height: 100%;
        padding:0;
        margin: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        z-index: 10;
        
        li {
            display: none;
            list-style-type: none;
            margin: 1rem;
            font-size: 16px;
            font-weight: 500;
            align-content: center;

            &:first-child {
                margin-right: auto;
                display: block;

                @media only screen and(min-width:760px){
                    padding-left:3rem;
                }

                @media only screen and(min-width:1280px){
                    padding-left: 6rem;
                }
            }

            &:last-child {
                
                @media only screen and(min-width:1000px){
                    padding-right: 2rem;
                }

                @media only screen and(min-width:1280px){
                    padding-right: 6rem;
                }
            }
        }

        a {
            color: $darkgrey;
            transition: all 300ms;
            transition-timing-function: ease-out;

            &:active {
                scale: 95%;
            }

            img {
                height:1.5rem;
            }
        }
        
        .navActive , a:hover {
            color: $mainpurple;
        }
        
    }
    @media only screen and(min-width:1000px){
        flex-direction: row;
        justify-content: space-between;
        .navToggle{
            display: none;
        }

        ul {
            padding: 0;
            flex-direction: row;

            li {
                display: block;
            }
        }
    }
    @media only screen and (min-width:760px){
        padding-top: 1rem;
    }

}


#navCheckbox:checked ~ ul.navbar-links li {
    display: block;
}

#navCheckbox:checked ~ label.navToggle #close {
    display: block;
    opacity: 100;
}

#navCheckbox:checked ~ label.navToggle #menu {
    display: none;
}

#navCheckbox:checked ~ ul {
    height: 100vh;

    @media only screen and (min-width:1000px){
        height:100%
    }

}


/*MAIN HEADER*/
.introduction {
    margin-top: 15rem;
    margin-bottom: 8rem;
}


/*ABOUT PAGE*/
#aboutIntro {
    @media only screen and (min-width:980px) {
        width: 80%;
    }
}

.aboutDiv {
    display: inline-block;
    height: 100%;
    margin-bottom: 8rem;
    div{
        margin-bottom: 3rem;

        h2 {
            font-family: sf-ui;
            font-size: 1.5rem;
            line-height: 80%;
            margin-bottom:0;
        }

        p,a {
            font-size:1rem;

            @media only screen and (min-width:980px) {
                width: 80%;
            }
        }
    }
    @media only screen and (min-width: 1415px) {
        height: 50vh;
    }
}



/*projectthumbnail*/
.worksTitle {
    margin-bottom: 0;
}
.workContainer {
    margin-bottom: 8rem;
    @media only screen and (min-width: 780px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.projectDiv { 
    position: relative;
    margin-bottom: 1rem;

    img {
        z-index: -1;
        width: 100%;
        height: auto;
        transition: all 450ms;

        
        &:hover {
        zoom: 1.1;
        filter: alpha(opacity=50);
        opacity: 0.5;
        box-shadow: 0 3px 1rem rgba($lightgrey, 0.2);


    }
    }   

    div {
        width: 100%;
        position: absolute;
        top:0.5rem;
        left:0.5rem;
        transition: all 450ms;

        h3 {
            
            margin: 1rem 0 0 1rem;
        }

        p{  
            font-size:14px;
            margin: 0 0 0 1rem;
        }
        
    }
    @media only screen and (min-width: 780px) {
        width: 49%;
        
    }

}

/*CONTACT FORM*/
main.contacts{
    display: flex;
    flex-direction: column;
    margin-bottom:8rem;
    .leftColumn {
        margin-top: 15rem;

        .formContainer {
            margin-top: 8rem;
            form{
            width:100%;
            display: flex;
            flex-direction: column;

            input, textarea {
                font-family: $font-stack;
                font-weight: 400;
                color:$black;
                border: 1px solid $lightgrey;
                border-radius: 0;
                height: 2rem;
                padding-left:.5rem;
                margin-bottom: 1rem;

                &:focus {
                    border: 1px solid $lightgrey;
                    outline:none;
                }
            }

            #message {
                height: 5rem;
                padding-top: 0.5rem;
            }
            
            input[name="message"]::placeholder {
                position: absolute;
                top:.5rem;
            }

            button {
                color: $white;
                border: none;
                height: 2rem;

                @media only screen and (min-width: 900px) {
                    width: 10%;
                    margin-left: auto;
                }  

            }
            }
        }

        
        @media only screen and (min-width: 900px) {
            display: flex;
            width: 50%;
            flex-direction: column;
        }    
    }

    @media only screen and (min-width: 900px) {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: baseline;
    }

    @media only screen and (min-width: 1415px) {
        height:100vh;
        align-items: baseline;
    }
}

#responseDiv {
    p#success {
        margin-top:0;
        font-size:14px;
        color: $mainpurple;
    }

    p#error {
        margin-top:0;
        font-size:14px;
        color: #c94966;
    }
}

/*CONTACT FORM MESAGES*/
.messagesContainer {
    margin-top: 10rem;
    margin-bottom: 5rem;

    h3 {
        margin-bottom: 2rem;
        
    }
    div {
        font-size: 16px;
        width: 100%;
        padding-bottom: 1rem;
        border-bottom: 1px solid $lightgrey;
        p {
            font-weight: 600;
            margin-bottom: 0rem;
        }

        span {
            padding-bottom:2rem;
        }
    }
    @media only screen and (min-width: 900px) {
        width:30%;
        margin-bottom: 0;
    }
}

  /*FOOTER*/
  footer {
    background-color: #f8f8f8;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    padding:2rem;
    vertical-align: middle;
    


  span {
    color: $lightpurple;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 13.5px;
    margin: auto;
  }

  div {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 13.5px;
    margin-bottom:0px;
    vertical-align: center;
    a {
        position: inherit;
        display: inline-block;
        vertical-align: middle;
    
        i {
            font-size: 1.3em;
          }
      }
  }

  }

/*PROJECT PAGES*/
.projectFull{
    padding-left: 0;
    padding-right: 0;

    // .projectDetails {
    //     padding-left: 1rem;
    //     padding-right: 1rem;
    // }

    .projectDetails {
        margin-bottom: 3rem;
    }

    .projectBanner {
        position: relative;
        margin: 5rem 0 0 0;
        padding:0;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            height: 20rem;
            position: relative;
            overflow-x: hidden;
            z-index: 0;
            
        }

        h1 {
            width: 100%;
            font-family: sf-ui;
            font-size: 2rem;
            position: absolute;
            margin: 0;
            text-align: center;
        }

        
    }

    @media only screen and (min-width:760px) {
        padding: 0 4rem;
    }

    @media only screen and (min-width:1280px) {
        padding: 0 7rem;
    }
}

.projectSpecs {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    font-size: 14px;
    margin-bottom: 5rem;

    ul {
        width:100%;

        li{
            padding: .5rem 1.5rem .5rem 1rem;
            @media only screen and (min-width:820px) {
                display:inline-block;
            }

            h4 {
                margin: 0;
                padding: 0;
            }

            @media only screen and (min-width:760px) {
                padding: .5rem 2rem .5rem 3rem;
            }
        }

        @media only screen and (min-width:780px) {
            width: auto;
        }
        
    }

    @media only screen and (min-width:780px) {
        align-items: center;
    }
}

.projectNav {
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-bottom: 8rem;
    padding: 0 1rem;
    
    a { 
        display: flex;
        align-items: center;
        color: $darkgrey;
    }

    i {
        font-size:1.5rem;
        margin: .5rem;
        color: $mainpurple;
    }

} 

.projectDetails {
    padding-left: 1rem;
    padding-right: 1rem;
    div {
        margin-bottom: 3rem;
        div { 
            @media only screen and (min-width:1080px) {
                display: flex;
                justify-content: space-between;
            }
            
            h2 {
                font-size: 1.3rem;
                height: 100%;
            }

            .paragraph {
                flex-direction: column;
                align-content: space-between;
                p {
                    font-size: 18px;
                    text-align: left;
                    margin-bottom: 1rem;
                }
                
                @media only screen and (min-width:1080px) {
                    width: 65%;
                }
            }
        }  
        
        img {
            width: 100%;
        }

        h4 {
            margin: 2rem 0 5rem 0;
            font-size: 1.5rem;
            line-height: 140%;
            text-align: center;
            flex: 0 0 100%;
        }

        p {
            font-size: 16px;
            text-align: center;
            margin-bottom: 8rem;
            width: 100%;
        }
    }

}

#gifContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-bottom: 1rem;
    div {
        flex-direction: column;
        margin: 0;
        padding:0;
        height: auto;
        justify-content: end;

        @media only screen and (min-width:980px) {
            width: 50%;
        }

        img {
            width: 100%;
        }
    }

    
    @media only screen and (min-width:980px) {
        flex-direction: row;
    }
}