/*COLOR VARIABLES*/
$black: #323232;
$grey: #5b5b5b;
$lightgrey: #9b9da8;
$purple: #6C4CB3;
$lightyellow: #fbf2d4;
$white: #fff;
$darkgrey: #707070;
$lightpurple: #a5add2;

/*MODULAR SCALE VARIABLE need plgin*/

/*FONTS*/
  @font-face { /*LOGO NAME*/
    font-family: sunflora;
    src: url("https://www.alanalee.me/fonts/Sunflora.otf");
    font-weight: bold;
  }

  @font-face { /*title*/
    font-family: sf-ui;
    src: url("https://www.alanalee.me/fonts/SF-UI-Display-Bold.otf");
  }

  /*body*/
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  $font-stack: 'Montserrat', sans-serif;


/*BORDER FRAME*/
.borderFrame {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  margin-top: 0px!important;
  width: calc(100% - 28px);
  height: calc(100% - 28px);
  pointer-events: none;
  z-index: 9;
  background-color: transparent;
  border-width: 14px;
  border-style: solid;
  border-color: $lightyellow;
  border-image-slice: 1;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-repeat: stretch;
  z-index: 200;
  @media screen and(min-width:760px){
  
      display: block;
  }

}


/*UNIVERSAL*/
  html, body {
    font-size: 18px;
    line-height: 140%;
    color:$black;
    margin: auto;
    background-color: $white;
  }

  main {
    margin-top: 15rem;
    margin-bottom: 8rem;
  }

  @media (min-width:980px) {
    body {
      margin: auto;
      vertical-align: middle;
    }
    
    main {
      width: 55%;
      margin: 15rem auto 8rem auto;
    }
  }

  .max-flex {
    display: flex;
    flex-direction: column;
  
  }

  @media (min-width:1090px) {
    body {
      margin: 0 auto;
      vertical-align: middle;
    }

    main {
      width: 75%;
      margin: 1.77rem auto 8rem auto;
    }

    .outer-max-flex {
      display: flex;
      flex-direction: column;
    }
  }

  /*TABLET BASED TWO COLUMN WIDTH*/
  @media (min-width: 980px) {
    main {
      margin-bottom:8rem;
    }

    .max-flex {
      flex-direction: row;
      justify-content: space-between;
    }

    .max-flex>div {
      margin-right: 5rem;
      padding: 1.777em;
      padding: 0px;
    }

    .max-flex>div#skills {
      margin-right: 0px!important;
    }

    .max-flex#education {
      justify-content: flex-start;
      align-items: flex-end;
      margin-bottom: 3rem;
    }

    .max-flex#education>div {
      margin-right: 5rem;
    }
  }

  /*END OF TABLET-BASED 2 COLUMN LAYOUT*/


  /*START MEDIA QUERY FOR DESKTOP*/
  @media (min-width: 1090px) {
    #name {
      font-size: 4.209em;
    }

    #outer-max-flex {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .desktop-left-column {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;
      margin-top:15rem;
    }

    .desktop-right-column {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      padding-left: 2rem;
      padding-bottom: 1rem;
      margin-top:15rem;
    }

    .max-flex {
      flex-direction: column;
    }

    #education-section {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    #personal-information {
      margin-top: 2rem;
    }

    #blank {
      display: none;
    }

    #rm-mb {
      margin-bottom: 0px!important;
    }  

    .extra-pb {
      padding-bottom: 4rem;
    }
  }

  /*END OF DESKTOP MEDIA QUERY FOR TWO COLUMN*/
  /*EXTRA WIDE DESSKTOP MEDIA QUERY*/
  @media (min-width: 1800px) {
    main {
      width: 55%;
      margin: 1.77rem auto;
    }
  }
  /*END OF EXTRA WIDE DESKTOP QUERY*/

  a, p, li {
    display: flex;
    align-content: center;
    font-family: Montserrat,sans-serif;
    font-size: 1em;
    margin-bottom: 0.75em;
    color: $black;
  }

  li {
    display: list-item;
  }

  h1 {
    font-size:5.61em;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-family: Montserrat,sans-serif;
    color: $black;
    font-size: 18px;
    margin-bottom: .25rem;
  }

  .date {
    font-size: 1em;
    font-weight: 500;
    color: $lightgrey;
    margin-top:0.25em;

  }
  div {
    margin-top: 1em;
  }

  .section-title{
    font-family: sf-ui;
    font-weight: 600;
    color: $purple;
  }

  h2.section-title {
      margin-top: 1.3rem;
      margin-bottom: 0px;
  }

  h3.section-title {
      margin-bottom:.5rem;
  }

  /*ABOUT SECTION*/
  .about-text {
    line-height: 160%;
  }

  .content-wrapper {
    margin: 1.3em;
  }


  /*MARGIN OVERRIDES*/
  .no-mb {
      margin-bottom: 0!important;
  }

  .sm-mb {
    margin-bottom: .75em!important;
  }

  .no-mt {
      margin-top: 0!important;
  }

  .extra-mt {
    margin-top: 2.5rem;
  }

  .links {
    display: flex;
    flex-direction: column;
  }

  a:link {
    display: flex;
    align-items: center;
    font-weight: 500;
    text-decoration: none;
  }

  #contact>a:link>i {
    margin-right: .75rem;
  }

  a:active {
    color: $grey
  }

  p.list {
      margin-top: 0;
  }

  
  .job-list {
    margin-left: -1rem;
  }

  #tagline {
    font-family: Montserrat,sans-serif;
    font-weight: 400;
    margin-top:0;
    margin-bottom:0.75rem;
  }

  #name {
    font-family: sunflora;
    color: $black;
    line-height: 100%;
    margin-left: 1.3rem;
    margin-top: 1.3rem;
    margin-bottom: 0px;
  }

  #competency-list {
    margin-left:-1rem;
    margin-bottom: 1em;
  }

/*COLOR CLASS*/
  .bg-yellow {
    background-color: $lightyellow;
  }


  .bg-lightgrey {
    background-color: #fafafa;
  }

  .purple {
    color:$purple;
  }

/*BORDERS*/
  .border {
    background-color: $lightyellow;
    z-index: 200;
  }
  .border-left {
    left:0px;
    width: 8px;

  }


/*NAVBAR MOBILE-FIRST*/

nav.navbar {
  position: fixed;
  width: 100%;
  padding-top: 0;
  top:0;
  background-color: $white;
  box-shadow: 0 2px 8px rgba($lightgrey, 0.05);
  
  .navCheckbox {
      display: none;
  }
  
  .navToggle {
      position: absolute;
      cursor: pointer;
      padding-top: 1rem;
      margin: 0 1rem;
      right: 0;
      height: 100%;

      i {
          font-size:1.5rem;
          color:$lightgrey;
      }

      #close {
          display: block;
          opacity:0;
          transition: all 350ms;
          transition-timing-function: ease-out;
      }

      @media only screen and(min-width:760px) {
          padding-right: 3rem;
      }
  }
  
  ul {
      height: 100%;
      padding:0;
      margin: 0;
      display: flex;
      flex-direction: column;
      text-align: center;
      z-index: 10;
      
      li {
          display: none;
          list-style-type: none;
          margin: 1rem;
          font-size: 16px;
          font-weight: 600;
          align-content: center;
          

          &:first-child {
              margin-right: auto;
              display: block;

              @media only screen and(min-width:760px){
                  padding-left:3rem;
              }

              @media only screen and(min-width:1280px){
                  padding-left: 6rem;
              }
          }

          &:last-child {
              
              @media only screen and(min-width:1000px){
                  padding-right: 2rem;
              }

              @media only screen and(min-width:1280px){
                  padding-right: 6rem;
              }
          }
      }

      a {
          justify-content: center;
          color: $darkgrey;
          transition: all 300ms;
          transition-timing-function: ease-out;

          &:active {
              scale: 95%;
          }

          img {
              height:1.5rem;
          }
      }
      
      .active , a:hover {
          color: $purple;
      }
      
  }
  @media only screen and(min-width:1000px){
      flex-direction: row;
      justify-content: space-between;
      .navToggle{
          display: none;
      }

      ul {
          padding: 0;
          flex-direction: row;

          li {
              display: block;
          }
      }
  }
  @media only screen and (min-width:760px){
      padding-top: 1rem;
  }

}

#navCheckbox:checked ~ ul.navbar-links li {
  display: block;
}

#navCheckbox:checked ~ label.navToggle #close {
  display: block;
  opacity: 100;
}

#navCheckbox:checked ~ label.navToggle #menu {
  display: none;
}


/*background MEDIA QUERIES*/
@media (min-width: 400px) {

}


@media (min-width: 600px) {
  html { background: white; }
}

@media (min-width: 960px) {

}


/*FOOTER*/
footer {
  background-color: #f8f8f8;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  padding:2rem;
  vertical-align: middle;
  


span {
  color: $lightpurple;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13.5px;
  margin: auto;
  font-family: $font-stack;
}

div {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 13.5px;
  margin-bottom:0px;
  vertical-align: center;
  a {
      position: inherit;
      display: inline-block;
      vertical-align: middle;
  
      i {
          font-size: 1.3em;
          color: $purple;
        }
    }
}

}